.info-block{
    margin-top: 70px;
    background: white;
    border: solid 1px #eeeeee;
    box-shadow: 3px 3px 6px #c0c0c0;
    padding: 30px;
    color: #003b82;
}

.info-block{
    margin-top: 70px;
    background: white;
    border: solid 1px #eeeeee;
    box-shadow: 3px 3px 6px #c0c0c0;
    padding: 30px;
    color: #003b82;
}

.return{
    background: #003b82;
    border-color: #003b82;
    width: 170px;
    margin-left: 20px;
}

.return:hover{
    background: #4682b4;
    border-color: #4682b4;
    box-shadow: 0 3px 9px 0 gray;
}

.btn i{
    padding-right: 10px;
}