{% extends "base_bootstrap4.html" %}
{% block content %}
   <!-- デモページ -->
    <div class="container mt-3">
        <div class="container mt-3">
            <form action="{% url 'authentications:logout' %}" method="POST">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 style="text-align:center">Demo Page</h2>
                            <button type="submit" class="btn btn-info btn-block">Log Out</button>
                            {% csrf_token %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}